h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--headings-color);
}

.h2, h2 {
    font-size: 48px;
    line-height: 56px;
}

h3, .h3 {
    font-size: 36px;
    line-height: 46px;
}

.h5, h5 {
    font-size: 20px;
    line-height: 1.2em;
}


.fs-sm {
    font-size: 14px;
}


h4 {
    font-size: 24px;
    line-height: 1.2em;
}

.fs-18 {
    font-size: 18px;
    line-height: 1.2em;
}

.fs-40 {
    font-size: 40px;
    line-height: 1.2em;
}