// Hero section start from here
.hm2-hero-area {
    background-color: var(--home2-bg);
    background-size: cover;
    background-position: right;
    position: relative;
    z-index: 1;
    overflow: hidden;

    .hm2-hero-bg {
        position: absolute;
        z-index: -1;
        top: 130px;
        right: 0;
        width: 85%;

    }
}

.hm2-hero-content {
    h1 {
        font-size: 72px;
        font-weight: 400;
        font-family: var(--heading-font);
    }
}

.hm2-left-hero-content {
    background-color: #fff;

    h4 {
        font-size: var(--headings-color);
    }
}

.hm2-hero-left-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hm2-hero-right-title {
    display: block;
}

// Feature product section start from here



.single-feature-product {
    position: relative;

    .feature-hover {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;

        .feature-content {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: var(--headings-color);
                opacity: 0.3;
                z-index: -1;
            }

            h3 {
                position: absolute;
                top: 10px;
                left: 15px;
                color: #fff !important;
                text-transform: uppercase;
                z-index: 999;
            }

            .hm2-feature-btn {
                display: inline-block;
                position: absolute;
                right: 10px;
                bottom: 10px;
                padding: 18px 26px;
                font-weight: 500;
                background-color: #fff;
                color: var(--primary-color);
                font-family: var(--heading-font);
            }
        }
    }

}


// Product slider section start from here 

.slider-container {
    position: relative;

    .product-title {
        font-family: var(--heading-font);
        font-weight: 400;
    }
}



.slick-slide {
    margin-right: 0px;
    margin-left: 30px;

}

.single-slider-product {
    border: 1px solid var(--border-color);

    .feature-img {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 60px;

        img {
            width: 100%;
            max-height: 100%;

        }
    }

    .slider-product-content {
        margin-left: 30px;
        margin-bottom: 30px;

        h4 {
            margin-bottom: 25px;
            font-weight: 500;
        }

        span {
            margin-bottom: 10px;
            display: inline-block;
            text-transform: uppercase;
        }

        .slider-product-price {
            span {
                display: inline-block;
                margin-bottom: 30px;
                margin-right: 20px;
                font-weight: 500;

                .previous-price {
                    font-weight: 300;
                }
            }
        }
    }

}



.slick-prev.pull-left.slick-arrow {
    position: absolute;
    right: 70px;
    z-index: 999;
    display: block;
    padding: 20px;
    top: -140px;
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
}

.slick-next.pull-right.slick-arrow {
    position: absolute;
    top: -140px;
    right: 0;
    z-index: 999;
    padding: 20px;
    border: 1px solid var(--border-color);
    display: inline-block;
    margin-left: 30px;
}


//  home2 Banner area start from here 

.hm2-banner-area {
    background-color: var(--light-bg);
    background-repeat: no-repeat;
    background-position-x: 40%;
    overflow: hidden;

    .hm2-banner-img {
        position: relative;

        .hm2-banner-img-main {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: end;
            padding-left: 40px;

            img {
                height: 100%;
                width: 85%;
            }
        }

        .hm2-banner-content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 60px;

            h2 {
                font-family: var(--heading-font);
                font-weight: 400;
            }

            .hm2-border-btn {
                background-color: var(--white-color);
            }
        }


    }

    .hm2-banner-content-right {
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-30%);

        h2 {
            font-family: var(--heading-font);
            font-weight: 400;
        }

        .hm2-border-btn {
            background-color: var(--white-color);
        }

    }
}

// best product slider 
.hm2-best-product-area {
    .product-title {
        font-family: var(--heading-font);
        font-weight: 400;
    }
}

// hm2 brand area

.hm2-brand-area {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}




// sell product area start from here



.hm2-single-sell-product {
    background-size: cover;
    background-position: center;
    padding-top: 300px;
    position: relative;
}



.sell-product-mini-title {
    position: absolute;
    top: 60px;
    left: 60px;
}

.sell-product-title {
    position: absolute;
    bottom: 60px;
    left: 60px;
}


.hm2-single-sell-product {
    /* background-position: center; */
    /* padding-top: 300px; */
    padding-top: 500px;
}

/* Inline #9 | http://localhost:7879/index-2.html# */

.sell-product-mini-title span {
    color: var(--headings-color);
    font-weight: 600;
    text-transform: uppercase;
}

.sell-product-title h2 {
    font-weight: 500;
    color: var(--headings-color);
    font-family: var(--heading-font);
    margin-bottom: 30px;
}


/* Inline #9 | http://localhost:7879/index-2.html */

.hm2-single-sell-product {
    border: 1px solid var(--border-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


//   customer testimonial section


/* Inline #9 | http://localhost:7879/index-2.html */

.testimonial-content h4 {
    font-weight: 400;
}

.testimonial-content span {
    font-weight: 400;
}

.testimonial-author {
    height: 75px;
    width: 75px;
    margin: 0 auto;
}

.testimonial-author img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

/* Inline #10 | http://localhost:7879/index-2.html */

.testimonial-content h4 {
    font-weight: 400;
}

.testimonial-content span {
    font-weight: 400;
}

.testimonial-author {
    height: 75px;
    width: 75px;
    margin: 0 auto;
}

.testimonial-author img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.testimonial-title span {
    font-weight: 400;
}

.testimonial-title h2 {
    font-weight: 400;
}

.hm2-testimonials {
    border: 1px solid var(--border-color);
}


.testimonial-author {
    margin-bottom: 10px;
}


.client-testimonial-area {
    .slick-prev.pull-left.slick-arrow {
        position: absolute;
        left: -26px !important;
        right: 0px;
        z-index: 999;
        display: block;
        padding: 20px;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--primary-color);
        color: #fff;
        border: 1px solid var(--primary-color);
    }

    .slick-next.pull-right.slick-arrow {
        position: absolute;
        top: 50%;
        right: -26px;
        z-index: 999;
        padding: 20px;
        transform: translateY(-50%);
        border: 1px solid var(--border-color);
        display: inline-block;
        margin-left: 30px;
        background-color: var(--white-color);
    }

}

// latest post

.hm2-single-latest-post {
    background-color: var(--white-color);
}

.hm2-latest-post-area {
    background-color: var(--home2-bg);
}

/* Inline #10 | http://localhost:7879/index-2.html */

.hm2-latest-post-title h2 {
    font-weight: 400;
    margin-bottom: 80px;
}

/* Inline #10 | http://localhost:7879/index-2.html */

.post-meta span i {
    margin-right: 10px;
}

.post-meta span {
    margin-right: 30px;
    text-transform: uppercase;
}

.hm2-latest-post-content h3 {
    font-size: 30px;
    font-weight: 500;
}

/* Inline #9 | http://localhost:7879/index-2.html */

.hm2-latest-btn {
    text-decoration: underline;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 500;
    text-underline-offset: 10px;
}



/* Inline #9 | http://localhost:7879/index-2.html */

.slick-dots li {
    font-size: 0px;
    height: 5px;
    width: 5px;
    background-color: #333;
    margin-left: 20px;
    border-radius: 50%;
    position: relative;
}

.slick-dots {
    display: flex;
}

.slick-dots li.slick-active::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 15px;
    width: 15px;
    z-index: -1;
    border: 1px solid #333;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.slick-dots li {
    z-index: 2;
}

/* Inline #10 | http://localhost:7879/index-2.html */

.hm2-latest-posts {
    position: relative;
}

.slick-dots {
    position: absolute;
    top: -110px;
    right: 5px;
    cursor: pointer;
}


//   hm2 feature slider area
.hm2-feature-slider-area {
    position: relative;
    overflow: hidden;

    .feature-slider-banner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--white-color);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;

        .hm2-feature-sliders {
            .slick-list {
                .slick-track {
                    .slick-slide {
                        margin: 0px !important;
                    }
                }
            }
        }
    }

    .feature-slider-banner {
        span {
            display: block;
        }

        .feature-slider-banner-content {
            .hm2-feature-slider-follow {
                background-color: var(--headings-color);
                font-weight: 500;
                color: var(--white-color);
                padding: 15px;
            }

            .hm2-feature-slider-cosmes {
                color: var(--headings-color);
                font-weight: 400;
                padding: 30px;
            }
        }
    }


}




// hm2 footer section 
.hm2-footer-section {
    background-color: var(--headings-color);

    .hm2-widget-title {
        color: var(--white-color);
        margin-bottom: 50px;
    }

    .hm2-footer-widget {
        .ft-links {
            li {
                position: relative;

                i {
                    position: absolute;
                    top: 50%;
                    left: 30px;
                    transform: translateY(-50%);
                }

                input {
                    padding: 22px 55px;
                    background: transparent;
                    border: 1px solid var(--footer-border-color);
                    color: var(--text-color);
                }

                button {
                    position: absolute;
                    top: 50%;
                    right: 5px;
                    transform: translateY(-50%);
                    background-color: var(--white-color);
                    padding: 16px 24px;
                }

            }
        }

        h4 {
            font-weight: 500;
            font-size: 30px;
        }
    }

    .hm2-footer-social {
        a {
            color: var(--white-color);
            margin-right: 36px;
        }
    }


}








.hm2-footer-widget .hm2-footer-bottom {
    background-color: var(--headings-color);
    padding: 40px 0px;
}

.hm2-footer-bottom-nav ul {
    display: flex;
    align-items: center;
    justify-content: end;
}

.hm2-footer-bottom-nav ul li {
    margin-right: 50px;
}

.hm2-footer-bottom-nav ul li:nth-last-child(1) {
    margin-right: 0px;
}

.hm2-footer-bottom-nav ul li a {
    color: var(--text-color);
}